<br>
<img src="\assets\single_user.png"  class="mx-auto d-block"><br>
<form #login="ngForm" class="mb-4" autocomplete="off" (ngSubmit)="validate(login.value)">  
  <div class="form-group">       
    <input class="parent" type="text" id="txt1" name="EmailId" [(ngModel)]="Userlogin.EmailId" placeholder="placeholder" />
  </div>
  <br/>
  <div class="form-group">
    
    <input class="parent" type="password" id="txt2" name="Password" [(ngModel)]="Userlogin.Password" placeholder="Password" />
  </div>
  <br/>    
  <button type="button" class="btn btn-link px-2" >Forgot password?</button>  
  <div class="form-row">
    <div class="btn btn-lg btn-block" >
    <input type="submit" value="Login"/>
    <div class="col-6 text-right">  
    </div>
  </div>
    </div>
  </form>
